doctype html
html
    head
        link(href="./stylesheets/style.css", rel="stylesheet")
        title= title
    body
        .wrapper
            .inner
                block content

        block footer